<!doctype html>
<html ⚡ data-article>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{story.title}}: {{story.subtitle}} | The Unredacted</title>

    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="HandheldFriendly" content="True">

    <meta name="description" content="{{description}}">

    <link rel="canonical" href="{{global.domain}}{{story.url}}">
    <link rel="amphtml" href="{{global.domain}}{{story.url}}">

    <link rel="dns-prefetch" href="{{global.cdn}}">

    <meta property="og:title" content="{{story.title}}: {{story.subtitle}}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{global.domain}}{{story.url}}">
    <meta property="og:image" content="{{story.coverimage.src}}">
    <meta property="og:description" content="{{story.description}}">
    <meta property="og:locale" content="en_UK">
    <meta property="og:site_name" content="theunredacted.com">
    <meta property="article:tag" content="">

    <meta property="article:published_time" content="{{story.date}}">
    <meta property="article:modified_time" content="{{story.date}}">

    <meta name="twitter:url" content="{{global.domain}}{{story.url}}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="{{story.description}}">
    <meta name="twitter:title" content="{{story.title}}: {{story.subtitle}}">
    <meta name="twitter:site" content="@theunredacted">
    <meta name="twitter:domain" content="{{global.domain}}">
    <meta name="twitter:image:src" content="{{story.coverimage.src}}">
    <meta name="twitter:creator" content="@theunredacted">

    <meta name="google-site-verification" content="xXNbRYHufXCe11iVTv114tSBLO2z4H6_zbc8CyVQB2M" >
    <meta name="p:domain_verify" content="698ed99fe010168ca48352b62fc8a843"/>

    <link rel="icon" type="image/png" href="/img/u-tile.png">
    <!--[if IE]><link rel="shortcut icon" href="/img/favicon.ico"><![endif]-->
    <link rel="apple-touch-icon"  href="/img/u-tile.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/img/android-chrome-192x192.png" sizes="192x192">
    <meta name="msapplication-square70x70logo" content="/img/smalltile.png">
    <meta name="msapplication-square150x150logo" content="/img/mediumtile.png">
    <meta name="msapplication-wide310x150logo" content="/img/widetile.png">
    <meta name="msapplication-square310x310logo" content="/img/largetile.png">

    <script data-schema="Organization" type="application/ld+json">
      {
        "name":"The Unredacted",
        "url":"{{global.domain}}/",
        "logo":"{{global.domain}}/img/u-tile-152x152.png",
        "sameAs":["https://www.facebook.com/theunredacted","https://twitter.com/theunredacted","https://plus.google.com/+theunredacted","https://www.youtube.com/user/theunredacted"],
        "@type":"Organization",
        "@context":"https://schema.org"
      }
    </script>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "BlogPosting",
        "headline": "{{story.title}}: {{story.subtitle}}",
        "image": "{{story.coverimage.src}}",
        "genre": "{{section.title}}",
        "dateModified": "{{story.date}}",
        "description": "{{story.description}}",
        "author": {
          "@type": "Organization",
          "name": "The Unredacted"
        }
     }
    </script>

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <link rel="stylesheet" href="/css/site.css">

    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700">
  </head>
  <body>
    <div class="site-wrap">
      <div class="main" role="main" itemscope="" itemtype="https://schema.org/BlogPosting">
        <meta itemprop="mainEntityOfPage" content="{{global.domain}}{{story.url}}">
        <div class="article-head wrap">
          <h1 class="article-head__headline" itemprop="headline">
            <span class="article-head__headline-top">{{story.title}}:</span>
            <span class="article-head__headline-bottom">{{{split-headline story.subtitle}}}</span>
          </h1>
          <p>
            <meta itemprop="description" content="{{story.description}}"/>
            {{story.description}}
          </p>
          <div class="social" aria-hidden>
            <a href="/top-100/#{{story.urlroot}}" class="social-score" data-score="{{story.stats.score}}" aria-hidden></a>
            <amp-social-share type="twitter"></amp-social-share>
            <amp-social-share type="facebook" data-share-endpoint="https://www.facebook.com/sharer/sharer.php?u={{global.domain}}{{story.url}}"></amp-social-share>
            <amp-social-share type="pinterest"></amp-social-share>
            <amp-social-share type="email" data-param-body="{{story.description}} - {{global.domain}}{{story.url}}"></amp-social-share>
          </div>
          <figure class="article-head__image" itemscope="" itemprop="associatedMedia image" itemtype="https://schema.org/ImageObject">
            <amp-img src="{{story.coverimage.src}}" width="{{story.coverimage.width}}" height="{{story.coverimage.height}}" alt="{{story.title}} {{story.subtitle}}" layout="responsive"></amp-img>
          </figure>
        </div>

        <div class="article wrap" itemprop="articleBody">
          {{{story.article}}}
        </div>

        <div class="article-related article-related--shade">
          <div class="wrap">

            <h2 class="article-related__header">Read Next</h2>
            <ul class="article-related__list" itemtype="http://schema.org/WebPage">
              {{#each related~}}
                <li>
                  <a href="{{url}}" class="article-related__item" itemprop="relatedLink">
                    <figure class="article-related__figure">
                      <amp-img src="/img/stories/{{urlroot}}.jpg" alt="{{title}} - {{subtitle}}" layout="responsive" width="80px" height="100px"></amp-img>
                    </figure>
                    <div class="article-related__body">
                      <h4>{{{title}}}</h4>
                      <h5>{{{split-headline subtitle}}}</h5>
                    </div>
                  </a>
                </li>
              {{~/each}}
            </ul>
          </div>
        </div>
        <div class="article-related">
          <h2 class="article-related__header">Comments</h2>
          <div class="wrap">
            <amp-iframe width=600 height=140
              layout="responsive"
              sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms"
              resizable
              src="https://raw.githubusercontent.com/soilysound/u4/gh-pages/disqus.html#{{global.domain}}{{story.url}}">
              <div overflow tabindex=0 role=button aria-label="Read more">Read more!</div>
            </amp-iframe>
          </div>
        </div>

      </div>

      {{> header}}

      <div class="footer wrap" role="footer">
        © theunredacted.com
      </div>

    </div>
    {{> analytics}}
  </body>
</html>
