<!doctype html>
<html ⚡ data-index lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{section.title}} | The Unredacted</title>

    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="HandheldFriendly" content="True">

    <meta name="description" content="{{section.description}}">

    <link rel="canonical" href="{{global.domain}}{{section.url}}">
    <link rel="amphtml" href="{{global.domain}}{{section.url}}">
    <link rel="dns-prefetch" href="{{global.cdn}}">

    <meta property="og:title" content="{{section.title}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{global.domain}}{{section.url}}">
    <meta property="og:image" content="/img/largetile.png">
    <meta property="og:description" content="{{section.description}}">
    <meta property="og:locale" content="en_UK">
    <meta property="og:site_name" content="theunredacted.com">

    <meta name="twitter:url" content="{{global.domain}}{{section.url}}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="{{section.description}}">
    <meta name="twitter:title" content="{{section.title}}">
    <meta name="twitter:site" content="@theunredacted">
    <meta name="twitter:domain" content="theunredacted.com">
    <meta name="twitter:image:src" content="/img/largetile.png">
    <meta name="twitter:creator" content="@theunredacted">

    <meta name="google-site-verification" content="xXNbRYHufXCe11iVTv114tSBLO2z4H6_zbc8CyVQB2M" >
    <meta name="p:domain_verify" content="698ed99fe010168ca48352b62fc8a843"/>

    <link rel="icon" type="image/png" href="/img/u-tile.png">
    <!--[if IE]><link rel="shortcut icon" href="/img/favicon.ico"><![endif]-->
    <link rel="apple-touch-icon"  href="/img/u-tile.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/img/android-chrome-192x192.png" sizes="192x192">
    <meta name="msapplication-square70x70logo" content="/img/smalltile.png">
    <meta name="msapplication-square150x150logo" content="/img/mediumtile.png">
    <meta name="msapplication-wide310x150logo" content="/img/widetile.png">
    <meta name="msapplication-square310x310logo" content="/img/largetile.png">

    <script data-schema="Organization" type="application/ld+json">
      {
        "name":"The Unredacted",
        "url":"{{global.domain}}/",
        "logo":"{{global.domain}}/img/u-tile-152x152.png",
        "sameAs":["https://www.facebook.com/theunredacted","https://twitter.com/theunredacted","https://plus.google.com/+theunredacted","https://www.youtube.com/user/theunredacted"],
        "@type":"Organization",
        "@context":"https://schema.org"
      }
    </script>

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <link rel="stylesheet" href="/css/site.css">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700">
  </head>
  <body>
    <div class="site-wrap">
      <div class="main grid wrap" role="main">
        {{#unless section.home}}
          <h1 class="page-title">{{section.title}}</h1>
        {{/unless}}
        <div class="grid__inner" itemscope itemtype="https://schema.org/ItemList">
          {{#each stories~}}
            <div class="tile{{#if @first}}{{#if ../section.home}} tile--hero{{/if}}{{/if}}" itemprop="itemListElement" itemscope itemtype="http://schema.org/BlogPosting">
               <meta itemprop="position" content="{{@index}}">
               <meta itemprop="author" content="The Unredacted">
               <meta itemprop="datePublished" content="{{date}}">
                <a href="{{url}}" class="tile__link" id="{{urlroot}}" itemprop="url">
                  <div class="tile__body">
                    {{#if ../section.home}}
                        {{#if @first}}
                          <h1 itemprop="headline">
                        {{^}}
                          <h2 itemprop="headline">
                        {{/if}}
                        <span class="tile__header">{{title}}</span>
                        <span class="tile__sub-header">{{subtitle}}</span>
                        {{#if @first}}
                          </h1>
                        {{^}}
                          </h2>
                        {{/if}}
                       {{^}}
                       <h2 itemprop="headline">
                        <span class="tile__header">{{title}}</span>
                        <span class="tile__sub-header">{{subtitle}}</span>
                       </h2>
                    {{/if}}
                      <p itemprop="description" class="tile__desc">{{description}}</p>
                  </div>
                  <figure class="tile__figure" itemscope="" itemprop="associatedMedia image" itemtype="https://schema.org/ImageObject">
                    <meta itemprop="url" content="{{../global.domain}}/img/stories/{{urlroot}}.jpg">
                    <meta itemprop="width" content="400">
                    <meta itemprop="height" content="500">
                    <amp-img src="{{../global.domain}}/img/stories/{{urlroot}}.jpg" width="400" height="500" alt="{{title}} - {{subtitle}}" layout="responsive" {{#if @first}}{{#if ../section.home}}media="(max-width: 640px)"{{/if}}{{/if}}></amp-img>
                    {{#if @first}}
                      {{#if ../section.home}}
                      <amp-img src="{{../global.domain}}/img/stories/{{urlroot}}-hero.jpg" width="1080" height="500" alt="{{title}} - {{subtitle}}" layout="responsive" media="(min-width: 641px)"></amp-img>
                      {{/if}}
                    {{/if}}
                  </figure>
                <span class="tile__rating{{#if ../section.show-rating}} tile__rating--visible{{/if}}" data-rating="{{stats.score}}"></span>
                </a>
            </div>
          {{~/each}}
        </div>
      </div>

      {{> header}}

      <div class="footer wrap" role="footer">
        © theunredacted.com
      </div>

    </div>
    {{> analytics}}
  </body>
</html>
